{% extends 'base.html'%}
{% block content%}
    {% load static %}
    {% load i18n %}

    <main class="page shopping-cart-page">
        <section class="clean-block clean-cart dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Shopping Cart</h2>
                </div>
                <div class="content">
                    <div class="row no-gutters">
                        <div class="col-12 col-md-9">
                            <div class="items">
                               {% if cart %}
                                {% for item in cart %}

                                <div class="product">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-md-3">
                                            <div class="product-image"><img class="img-fluid d-block mx-auto image" src="{{ item.ProductId.mainImage.url }}"></div>
                                        </div>
                                        <div class="col-md-5 product-info"><a href="{% url 'category' item.ProductId.slug %}" class="product-name">{{ item.ProductId.name }}</a>
                                            <div class="product-specs">
                                                {{ item.ProductId.preview_text | truncatewords:10}}
                                            </div>
                                        </div>
                                        <!--<div class="col-4 col-md-1 quantity"><label class="d-none d-md-block" for="quantity">{% trans 'Quantity' %}</label><input type="number" value="{{ item.amount }}" id="number" class="form-control quantity-input"></div>-->
                                        <div class="col-4 col-md-2 price"><span>{% widthratio item.ProductId.price 1 item.amount %}  MAD </span></div>
                                        <div class="col-12 col-md-2"><a class="btn btn-sm btn-danger" href="{% url 'removeCart' item.pk %}"><i class="fa fa-trash"></i> Remove</a></div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% else %}
                                   Your cart is empty
                            {% endif %}
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="summary">
                                <h3>Summary</h3>
                                <h4><span class="text">Subtotal</span><span class="price">{{cart.total}}</span></h4>
                                <h4><span class="text">Discount</span><span class="price">0</span></h4>
                                <h4><span class="text">Shipping</span><span class="price">0</span></h4>
                                <h4><span class="text">Total</span><span class="price">{{cart.total}}</span></h4>
                                <div id="paypal-button-container"></div>

      <script src="https://www.paypal.com/sdk/js?client-id=Ae-UhEGku5W0zcZoO_qaBskDQvgmXcHC6QmoYkVjunSw0mfe6TH5FEh_ApYTXT-3j6_3rXBsIaVmlJl1&currency=USD&disable-funding=credit"></script>

      <script>
        // Render the PayPal button into #paypal-button-container

        function getCookie(name) {
		    let cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (let i = 0; i < cookies.length; i++) {
		            let cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		let csrftoken = getCookie('csrftoken');

	 	let total = {{cart.total | stringformat:"i" }};
	 	let orderList = [];
        {% for c in cart %}
            el={"productId":"{{c.ProductId.id}}","price":"{{ c.ProductId.price | stringformat:"i"}}","amount":"{{c.amount}}"};
            orderList.push(el);
        {% endfor %}


//console.log(JSON.stringify({orderList}));
	 	function completeOrder(){
	 		var url = "{% url 'complete' %}";

	 		fetch(url, {
	 			method:'POST',
	 			headers:{
	 				'Content-type':'application/json',
	 				'X-CSRFToken':csrftoken,
	 			},
	 			body:JSON.stringify({orderList})
	 		})
	 	}

        paypal.Buttons({

             style: {
                color:  'blue',
                shape:  'rect',
                label:  'pay',
                height: 50
            },

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: total
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    completeOrder()
                    window.location.replace("{% url 'paymentSucess' %}");
                });
            }


        }).render('#paypal-button-container');
    </script>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}