{% load i18n %}
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container" style="width: 80%"><a class="navbar-brand logo" href="{% url 'index' %}">ECO<span style="color:#dc3545">MAG</span></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
            id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'articles' %}">{% trans 'Catalog'%}</a></li>
                {% if user.is_authenticated %}
                 <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'showCart' %}">{% trans 'Cart'%}</a></li>
                {% endif %}
                <li class="nav-item" role="presentation"><a class="nav-link" href="about-us.html">About Us</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="contact-us.html">Contact Us</a></li>
            </ul>
                {% if user.is_authenticated %}
                    <form id="logoutForm" action="/logout/" method="post" class="navbar-right">
                        {% csrf_token %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><span class="navbar-item"><strong >{% firstof user.get_short_name user.get_username %} </strong></span></li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()"> <span class="iconify" data-icon="simple-line-icons:logout" data-inline="false"></span> {% trans 'Log out' %}</a></li>
                        </ul>
                    </form>
                    {% else %}

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'login' %}">{% trans 'Log in' %} </a></li>
                        <li><a href="{% url 'register' %}">{% trans 'Register' %} </a></li>
                    </ul>
                {% endif %}

        </div>
    </div>
</nav>