{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Contact Us</h2>
                    <p>ECOMAG is a Django based plateform for e-commerce, it was made initially, 2019/2020 as final year's project guided by Pr. CHETIOUI Kaouthar, and it is intended to be started as a real life plateform .</p>
<p><br>
    <strong>Phone number:</strong> (+212) 05 XXX XXXXX
    <br>
     <strong>Email address:</strong> mtouaamourad@gmail.com
    <br>
    <strong>Address: </strong>P.O 3250, St. X , Fez Morocco

</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="{% static 'img/avatars/square.jpg' %}">
                            <div class="card-body info">
                                <h4 class="card-title">MTOUAA Mourad</h4>
                                <p class="card-text">Computer Engineering's student at the National School of Applied Sciences of Fez.</p>
                                <div class="icons" style="font-size: 0.9em">
                                    <hr>
                                    <strong>Phone number:</strong> (+212) 05 XXX XXXXX
    <br>
     <strong>Email address:</strong> mtouaamourad@gmail.com
    <br>
    <strong>Address: </strong>P.O 3250, St. X , Fez Morocco
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="{% static 'img/avatars/avatar3.jpg' %}">
                            <div class="card-body info">
                                <h4 class="card-title">RAMDANI Chaimae</h4>
                                <p class="card-text">Computer Engineering's student at the National School of Applied Sciences of Fez.</p>
                                <div class="icons" style="font-size: 0.9em">
                                    <hr>
                                    <strong>Phone number:</strong> (+212) 065 901 8166
    <br>
     <strong>Email address:</strong> ramdani.chaimae@gmail.com
    <br>
    <strong>Address: </strong>P.O 3250, St. X , Fez Morocco
                                </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="{% static 'img/avatars/avatar3.jpg' %}">
                            <div class="card-body info">
                                <h4 class="card-title">KHADDAM ALLAH Hajar</h4>
                                <p class="card-text">Computer Engineering's student at the National School of Applied Sciences of Fez.</p>
                                <div class="icons" style="font-size: 0.9em">
                                    <hr>
                                    <strong>Phone number:</strong> (+212) 05 XXX XXXXX
    <br>
     <strong>Email address:</strong> hajarkhaddamallah@gmail.com
    <br>
    <strong>Address: </strong>P.O 3250, St. X , Fez Morocco
                                </div> </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}

