{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/magasin1.jpg'%}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1 style="color:#dc3545">ECOMAG SHOP</h1>
            <br/>
          <a href="{% url 'articles' %}" class="btn btn-sm animated-button btn-danger" role="button"><h4 style="color:white">Shop Now</h4></a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/magasin2.jpg'%}" class="d-block w-100" alt="...">
         <div class="carousel-caption d-none d-md-block">
          <h1 style="color:#3b99e0">ECOMAG SHOP</h1>
              <br/>
             <a href="{% url 'articles' %}" class="btn btn-sm animated-button btn-info" role="button"><h4 style="color:white">Shop Now</h4></a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/magasin3.jpg'%}" class="d-block w-100" alt="...">
         <div class="carousel-caption d-none d-md-block">
          <h1 style="color:#ffc107">ECOMAG SHOP</h1>
              <br/>
          <a href="{% url 'articles' %}" class="btn btn-sm animated-button btn-warning" role="button"><h4 style="color:white">Shop Now</h4></a>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>
      <section class="clean-block">
         <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Welcome to ECOMAG {{ request.user.username }}</h2>
                    <p>Welcome to ECOMAG, the new Ecommerce Magazine just brought to you</p>
                </div>
            </div>
      </section>
<section  class="clean-block dark">
<div class="container">
    <div class="block-heading">
        <h2 class="text-info">Latest Articles</h2>
    </div>
<div class="row">
            {% if articles %}
                {% for listing in articles %}
                  <div class="col-md-4">
                      <div class="card" style="width: 18rem;">
                        <img src="{{ listing.mainImage.url }}"  style="width:286px;height:250px" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title " style="text-align:center">{{ listing.name }}</h5>
                          <h5 class="card-title" style="float:right"><span class="badge badge-pill badge-primary">${{ listing.price }}</span></h5>
                           <h5 class="card-title" style="color:#007bff">{{ listing.category }}</h5>
                          <hr/>
                          <a href="#" class="btn btn-info btn-center">Details</a>
                        </div>
                      </div>
                  </div>
              {% endfor %}
            {% endif %}
          </div>
</div>
</section>
{% endblock %}

