{% extends "base.html" %}
{% load i18n %}
{% block content %}
 <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">{% trans title %}</h2>
                </div>
             <form action="." method="post" class="form-horizontal">
                {% csrf_token %}

                <hr />
                <div class="form-group">
                    <label for="id_username">{% trans 'username' %}</label>
                    <div>
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password">{% trans 'password' %}</label>
                    <div>
                        {{ form.password }}
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="{% trans 'Log in' %}" class="btn btn-primary" />
                    </div>
                </div>
                {% if form.errors %}
                <p class="validation-summary-errors">Please enter a correct user name and password.</p>
                {% endif %}
            </form>
            </div>
        </section>
{% endblock %}


{% block scripts %}

    {% load static %}
<script src="{% static 'js/jquery.validate.min.js' %}"></script>

{% endblock %}
