{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                {% if registered %}
                    <h1>Thank you for registering!</h1>
                {% else %}
                    <h2 class="text-info">{% trans 'Register' %}</h2>

                    </div>

                    <form enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="{% trans 'Register' %}" class="btn btn-primary" />
                    </form>

                {% endif %}
        </div>
        </div>
    </section>
{% endblock %}