{% extends 'base.html'%}
{% block content%}
    {% load static %}
    {% load i18n %}
<main class="page product-page">
        <section class="clean-block clean-product dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">{% trans 'Product Page' %}</h2>
                </div>
                <div class="block-content">
                    <div class="product-info">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="gallery">
                                    <div class="sp-wrap">
                                        {% if instance.mainImage %}<a href="{{ instance.mainImage.url }}"><img class="img-fluid d-block mx-auto" src="{{ instance.mainImage.url }}"></a>{% endif %}
                                        {% if instance.SecondImage %}<a href="{{ instance.SecondImage.url }}"><img class="img-fluid d-block mx-auto" src="{{ instance.SecondImage.url }}"></a>{% endif %}
                                       {% if instance.ThirdImage %} <a href="{{ instance.ThirdImage.url }}"><img class="img-fluid d-block mx-auto" src="{{ instance.ThirdImage.url }}"></a>{% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info">
                                    <h3>{{ instance.name }}</h3>
                                    <div class="rating">
                                          {% with ''|center:instance.overallRating as range %}

                                       <div class="rating">
                                           {% for _ in range %}
                                                <img src="{% static '/img/star.svg'%}">

                                        {% endfor %}
                                                 </div>
                                        {% endwith %}
                                         </div>
                                    <div class="price">
                                        <h3>${{ instance.price }}</h3>
                                    </div><a class="btn btn-primary" href="{% url 'addCart' instance.id %}"><i class="fas fa-shopping-basket"></i> Add to Cart</a>
                                    <div class="summary">
                                        <p>
                                    {{ instance.preview_text }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-info">
                        <div>
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#description" id="description-tab">{% trans 'Description' %}</a></li>
                                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#specifications" id="specifications-tabs">{% trans 'Specifications' %} </a></li>
                                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#reviews" id="reviews-tab">{% trans 'Reviews' %} </a></li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane active fade show description" role="tabpanel" id="description">
                                    <p>
                                        {{ instance.detail_text }}
                                    </p>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <figure class="figure"><img class="img-fluid figure-img" src="{{ instance.mainImage.url }}"></figure>
                                        </div>
                                    </div>
                                </div>
                                  <div class="tab-pane fade show" role="tabpanel" id="reviews">
                                <div class="reviews">
{% if user.is_authenticated %}
    <h3>{% trans 'Add review' %}</h3>
    <form id="commentInsert" method="post" >
    {% csrf_token %}
    {{ comments.addComment.as_p }}
      <input type="submit" value="{% trans 'comment' %}" class="btn btn-primary" />
    </form>
{% endif %}
                                {% if comments %}
                                    {% for comment in comments %}


                                        <div class="review-item">
                                            {% with ''|center:comment.Rating as range %}

                                       <div class="rating">
                                           {% for _ in range %}
                                                <img src="{% static '/img/star.svg'%}">

                                        {% endfor %}
                                                 </div>
                                        {% endwith %}

                                            <h4> {{ comment.title }} </h4><span class="text-muted"><a href="#">{{ comment.UserId }}</a>, {{ comment.date }}</span>
                                            <p>{{ comment.content }}</p>
                                        </div>

                                    {% endfor %}
                                {% else %}
                                    No comments or reviews for this product

                                {% endif %}
                                 </div>
                                </div>
                                <div class="tab-pane fade show specifications" role="tabpanel" id="specifications">
                                   {% comment %} <div class="table-responsive table-bordered">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td class="stat">Display</td>
                                                    <td>5.2"</td>
                                                </tr>
                                                <tr>
                                                    <td class="stat">Camera</td>
                                                    <td>12MP</td>
                                                </tr>
                                                <tr>
                                                    <td class="stat">RAM</td>
                                                    <td>4GB</td>
                                                </tr>
                                                <tr>
                                                    <td class="stat">OS</td>
                                                    <td>iOS</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    {% endcomment %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock%}