{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Browse articles</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Listings
  <section id="listings" class="py-4">
    <div class="container">
      <div class="row">
        {% if articles %}
          {% for listing in articles %}
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="card listing-preview">
                <img class="card-img-top" src="{{ listing.mainImage.url }}" style="height:250px" alt="{{ listing.name }}">
                <div class="card-img-overlay">
                  <h2>
                    <span class="badge badge-secondary text-white">${{ listing.price }}</span>
                  </h2>
                </div>
                <div class="card-body">
                  <div class="listing-heading text-center">
                    <h4 class="text-primary">{{ listing.name }}</h4>
                    <p>
                      <i class="fas fa-map-marker text-secondary"></i> {{ listing.category }}</p>
                  </div>
                  <hr>
                      <p>
                      <i class="fas fa-map-marker text-dark"></i> {{ listing.preview_text }}</p>

                  <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
        <div class="col-md-12">
          <p>No Listing not Available</p>
        </div>>
        {% endif%}
      </div>
    </div>
  </section>
-->

    <div class="container" >
      <div class="row">
        <div class="col-md-2">
          <h3>Categories</h3>
          <ul>
              {% for category in categories %}
              <li><a href="{% url 'category' category.slug %}">{{ category }}</a></li>
              {% endfor %}
          </ul>
        </div>
        <div class="col-md-10">
          <div class="row">
            {% if articles %}
              {% for listing in articles %}
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                      <img src="{{ listing.mainImage.url }}"  style="width:286px;height:250px" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title " style="text-align:center">{{ listing.name }}</h5>
                        <h5 class="card-title" style="float:right"><span class="badge badge-pill badge-primary">${{ listing.price }}</span></h5>
                         <h5 class="card-title" style="color:#007bff">{{ listing.category }}</h5>
                        <hr/>
                        <p class="card-text">{{ listing.preview_text  }}</p>
                        <a href="#" class="btn btn-info btn-center">Details</a>
                      </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
          </div>

          <br/>
          <div class="row">
          <div class="col-md-12">
            {% if articles.has_other_pages%}
              <ul class="pagination">
                {% if articles.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{articles.previous_page_number}}">&laquo;</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="">&laquo;</a>
                  </li>
                {%endif%}

                {% for i in articles.paginator.page_range %}
                   {% if articles.number == i %}
                      <li class="page-item active">
                        <a class="page-link">{{i}}</a>
                      </li>
                   {% else %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{i}}">{{i}}</a>
                      </li>
                   {% endif%}
                {%endfor%}
                {% if articles.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{articles.next_page_number}}">&raquo;</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="">&raquo;</a>
                  </li>
                {%endif%}
              </ul>
            {% endif%}
          </div>
        </div>
        </div>
      </div>
</div>
</html>

{% endblock %}